.filters {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
}

.filters select {
  padding: 12px 25px;

  border: 1px solid black;
  border-radius: 999px;

  background-color: white;
  color: black;

  font-size: 0.9rem;
  font-family: var(--font-body);

  cursor: pointer;
}

#products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  padding: 0 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

#products-container a{
  background-color: #e6f0ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}

#products-container img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-color: #e6f0ff;
}

/* Mens product*/

#loader {
    text-align: center;
    margin: 2rem;
}

#error {
    text-align: center;
    color: red;
}